scripts/n8n-whatsapp-workflow.json
{
  "name": "EvAgendamento SaaS — WhatsApp IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9e80f4a2-d543-47ea-a501-dd833b433a84",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-112, 816],
      "id": "c66c5d80-e0a4-475d-98cc-4798bf68c2d5",
      "name": "Webhook",
      "webhookId": "9e80f4a2-d543-47ea-a501-dd833b433a84"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      phone: $json.body.contactNumber || \"\",\n      message: $json.body.bodyMensage || \"\",\n      contactId: $json.body.ContactID || \"\"\n    }\n  }\n];"
      },
      "id": "cc39e1a1-580c-4998-bf2f-8168ba92edb3",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [64, 816]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-32, 976],
      "id": "42c8a636-dcc1-4d1b-8e4b-e48b33f8c5fe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "SG8e08RVxfIQCNov",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contactId }}-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [64, 976],
      "id": "cf0e30d1-eab8-4e7b-8667-d5459d0ff0f6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a assistente virtual da empresa, atendendo pelo WhatsApp. Seu nome é Eva.\n\nCOMO VOCÊ SE COMUNICA\n- Português brasileiro, tom leve e próximo — como uma atendente humana simpática.\n- Mensagens curtas. Máximo 3 linhas por resposta.\n- Nunca use palavras como \"claro!\", \"certamente!\", \"com prazer!\" — soa robótico.\n- Não repita o nome do cliente a cada mensagem.\n- Não use bullet points nem listas com traços. Escreva em linguagem natural.\n- Jamais mostre JSON, IDs internos, nomes de ferramentas ou protocolo técnico.\n\nCOMO CONDUZIR O AGENDAMENTO\nColete as informações de forma natural, não mecânica. Você pode pedir mais de uma coisa na mesma mensagem quando fizer sentido.\n\nInformações necessárias para agendar: nome, telefone, serviço, profissional (se houver), data e horário.\n\nExemplo de abordagem natural:\n- \"Oi! Tudo bem? Me diz seu nome e o que você quer fazer aqui.\"\n- Quando o cliente responder com nome + serviço: já avança para data/horário.\n- Se faltar só o telefone: peça junto com a confirmação final.\n\nSEMPRE use as ferramentas antes de falar sobre serviços, profissionais ou horários — nunca invente.\n\nQUANDO CONFIRMAR O AGENDAMENTO\nRecapitule tudo em uma mensagem só, de forma natural:\n\"Então fica assim: [serviço] com [profissional] na [data] às [hora]. Confirmo?\"\nSó execute criar_compromisso após o cliente dizer sim.\nApós criar, mostre o protocolo: \"Agendado! Protocolo: AG-XXXX. Até lá!\"\n\nREMARCAR OU CANCELAR\n- Peça o protocolo (ex: AG-XXXX) ou o telefone para localizar o agendamento.\n- Mostre o que encontrou e confirme antes de qualquer ação.\n- Para cancelar, peça confirmação explícita antes de executar.\n\nFERRAMENTAS DISPONÍVEIS (use pelos nomes exatos):\n- buscar_servicos\n- buscar_profissional\n- verificar_disponibilidade (parâmetro: date em YYYY-MM-DD)\n- buscar_agendamento (parâmetro: protocol ou phone)\n- criar_compromisso\n- remarcar_agendamento (parâmetro: id, appointment_date, appointment_time)\n- cancelar_consulta (parâmetro: id)\n\nSe uma ferramenta falhar, diga algo como \"deixa eu verificar de outro jeito\" e tente outra abordagem."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [256, 816],
      "id": "9bff8d9b-2ffb-4104-85c9-1af75fc019b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "toolDescription": "Lista os serviços disponíveis na empresa. Use antes de falar qualquer serviço ou preço.",
        "url": "https://cloudd-agenda-backend.vercel.app/api/public/company/services",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [64, 1120],
      "id": "14cba2c1-e8da-42aa-a0e7-c3674110c109",
      "name": "buscar_servicos"
    },
    {
      "parameters": {
        "toolDescription": "Lista os profissionais disponíveis na empresa. Use antes de perguntar preferência de profissional.",
        "url": "https://cloudd-agenda-backend.vercel.app/api/public/company/staff",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [224, 1120],
      "id": "8738e98f-5a2e-456a-8a0a-edaf96e9e5e5",
      "name": "buscar_profissional"
    },
    {
      "parameters": {
        "toolDescription": "Verifica horários disponíveis em uma data. Parâmetro obrigatório: date (formato YYYY-MM-DD). Opcional: employee_id.",
        "url": "=https://cloudd-agenda-backend.vercel.app/api/public/appointments/available/{{$json.date}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "employee_id",
              "value": "={{ $json.employee_id || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [384, 1120],
      "id": "d9ab9dcc-39e0-4595-9c81-e72a4db82bf4",
      "name": "verificar_disponibilidade"
    },
    {
      "parameters": {
        "toolDescription": "Busca agendamento pelo protocolo (ex: AG-XXXX) ou telefone. Use antes de remarcar ou cancelar. Parâmetros: protocol OU phone.",
        "url": "https://cloudd-agenda-backend.vercel.app/api/public/appointments/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "protocol",
              "value": "={{ $json.protocol || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone || '' }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [544, 1120],
      "id": "aa1f0001-1111-4444-aaaa-000000000001",
      "name": "buscar_agendamento"
    },
    {
      "parameters": {
        "toolDescription": "Cria um novo agendamento. Campos obrigatórios: customer_name, customer_phone, service_type, appointment_date (YYYY-MM-DD), appointment_time (HH:MM). Opcional: professional, notes.",
        "method": "POST",
        "url": "https://cloudd-agenda-backend.vercel.app/api/public/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"customer_phone\": \"{{ $json.customer_phone }}\",\n  \"service_type\": \"{{ $json.service_type }}\",\n  \"appointment_date\": \"{{ $json.appointment_date }}\",\n  \"appointment_time\": \"{{ $json.appointment_time }}\",\n  \"professional\": \"{{ $json.professional || '' }}\",\n  \"notes\": \"Agendado via WhatsApp\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [704, 1120],
      "id": "31fef3f5-96f9-405e-9a49-731c50707f18",
      "name": "criar_compromisso"
    },
    {
      "parameters": {
        "toolDescription": "Remarca agendamento para nova data/hora. Parâmetros obrigatórios: id (obtido via buscar_agendamento), appointment_date (YYYY-MM-DD), appointment_time (HH:MM).",
        "method": "PUT",
        "url": "=https://cloudd-agenda-backend.vercel.app/api/public/appointments/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointment_date\": \"{{ $json.appointment_date }}\",\n  \"appointment_time\": \"{{ $json.appointment_time }}\",\n  \"notes\": \"Remarcado via WhatsApp\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [864, 1120],
      "id": "69d13316-110f-4983-a23c-dfae2615f148",
      "name": "remarcar_agendamento"
    },
    {
      "parameters": {
        "toolDescription": "Cancela um agendamento. Parâmetro obrigatório: id (obtido via buscar_agendamento). Use SOMENTE após confirmação explícita do cliente.",
        "method": "DELETE",
        "url": "=https://cloudd-agenda-backend.vercel.app/api/public/appointments/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "CLOUDDAGENDA_10_d45f718445da96f2d941a3632373e7e9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [1024, 1120],
      "id": "7f7d160b-240b-4ebe-9128-9396e5d646d0",
      "name": "cancelar_consulta"
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $json.output || '';\nconst clean = agentOutput\n  .replace(/\\[Used tools:[\\s\\S]*?\\]/g, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n  .trim();\nreturn { messageToClient: clean || 'Pode repetir? Tive um problema aqui.' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 816],
      "id": "e989e2fc-a5fc-493c-a3cc-9b4f9e41c105",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://newapi.clouddchat.com/v1/api/external/8efd1338-0612-495d-9d22-06b31ab3b36e/?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6MSwicHJvZmlsZSI6ImFkbWluIiwic2Vzc2lvbklkIjoyLCJjaGFubmVsVHlwZSI6IndoYXRzYXBwIiwiaWF0IjoxNzY4NDExMjY1LCJleHAiOjE4MzE0ODMyNjV9.ryqdpsaEd2VsJVmwtioVn9yN2zmEpa-_ar8frxQ40wQ",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"number\": \"{{ $node['Normalize Input'].json['phone'] }}\",\n  \"body\": {{ JSON.stringify($json.messageToClient) }},\n  \"externalKey\": \"8efd1338-0612-495b-bfdf-7d96ce85791b\"\n}",
        "options": {}
      },
      "id": "e2f56012-8543-4294-9d06-4df4dc6afc62",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [752, 816]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Groq Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "buscar_servicos": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "buscar_profissional": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "verificar_disponibilidade": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "buscar_agendamento": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "criar_compromisso": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "remarcar_agendamento": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "cancelar_consulta": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Formatar Resposta", "type": "main", "index": 0 }]]
    },
    "Formatar Resposta": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "cloudd-agenda-whatsapp-ia" },
  "tags": []
}
